
<!DOCTYPE html>
<html>
<head>
  <title>chAt is this real</title>
  <link href="style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <style>
    body {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}
  
  </style>
  
</head>
<body>
<h2>Chat with blank!</h2>

<!-- <img id="onceler" src="onceler.png" alt="" class="right"> -->
<!-- Chat containers -->
<div id="chatContainer">
  <div class="container">
    <img src="" alt="Avatar" class="right" >
    <p id="chat">chat1</p>
    <span class="time-left">just a few seconds ago...</span>
  </div>
  <div class="response">
    <p> Option 1: </p>
    <p id="resp1"> resp1 </p>
    <button id="opt1">Choose me!</button>
  </div>
  <div class="response">
    <p> Option 2: </p>
    <p id="resp2"> resp2 </p>
    <button id="opt2">Choose me!</button>
  </div>
  <!-- 
  <div class="container darker">
    <img src="/w3images/bandmember.jpg" alt="Avatar" >
    <p>Sweet! So, what do you wanna do today?</p>
    <span class="time-right">11:02</span>
  </div>
-->

<script src="index.js"></script> 

</body>
</html>
